.grad{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.heading{
    text-align: center;
    font-weight: bolder;
    margin-top: 0%;
    padding-top: 20px;
}

table{
    width: 96%;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 25px;
}

th{
    border: 1px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 8px 0 8px 0;
}

td{
    padding: 10px 0 10px 0;
}